<div class="file-upload">
  <h1>Blood Cancer Detection</h1>
  <p>This is a project created for CS-6440 Intro Health Informatics class. This application uses advanced neural networks and data augmentation techniques to analyze images and detect potential signs of cancer.</p>
  <p>The medical imaging prediction is made by a deep-wide convolutional neural network, which has been pre-trained on an augmented dataset. The Network is considered deep as it is 20 layers. The idea is that the wide layers at the top learn what features are unique in an image, while the deeper layers hone in and specialize on said features.</p>
  <p>Submit an image to check for signs of cancer. (<a href="https://gtvault-my.sharepoint.com/:f:/g/personal/kjames64_gatech_edu/Et4y0wy4qKtPrb0nSViqxzsBFKn0TwDsOrgXyxWV3ou7SA?e=W9ExVh">Sample images.</a>)</p>

  <div class="file-upload-content">
    <div>
      <input class="form-control form-control-lg" type="file" (change)="onChange($event)" #fileUpload >

    </div>
    <div class="col-12">
      <button (click)="onUpload()">Submit File</button>
    </div>

      <div class="alert alert-danger" role="alert" *ngIf="errorMessage && errorMessage.length > 1">
        Error uploading file due to {{ errorMessage }}.
      </div>
  </div>
</div>
