<amplify-authenticator [signUpAttributes]="[]">
  <ng-template
    amplifySlot="authenticated"
    let-user="user"
    let-signOut="signOut"
  >
  <div class="d-flex align-items-stretch wrapper">
    <div class="sidebar sidebar-dark">
      Welcome!
      <ul>
        <li><a href="/">Home</a></li>
        <li>Item 1 Item 1Item 1Item 1Item 1Item 1Item 1Item 1</li>
        <li><a href="#" (click)="signOut()">Sign Out</a></li>
      </ul>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
  </ng-template>
</amplify-authenticator>
