html {
  height: 100%;
}
body {
    margin: 0;
    /* background-color:#0d1b2a; */
    background-color: #f2f3f4;
    display: flex;
    font-family: ui-sans-serif, -apple-system, system-ui, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 20px;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* height: 100%; */
    color: #fff;

}
app-root {
  height: 100%;
  background-color: #0d1b2a;
}

.amplify-button--primary {
  background-color: #0d1b2a;
}

body > * {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 30ch;
}

  main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #112D4E;
    cursor: pointer;
    transition: border-color 0.25s;
    color: white;
  }

  button:hover, button:focus {
    background-color: #dbdbdb;
    color: #112D4E;
    border: 1px solid #112D4E;
  }

  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 8px 0;
    border: 1px solid black;
    gap: 1px;
    background-color: black;
    border-radius: 8px;
    overflow: auto;
  }

  li {
    background-color: white;
    padding: 8px;
  }

  li:hover {
    background: #dadbf9;
  }

  a {
    font-weight: 800;
    text-decoration: none;
  }

  .wrapper {
    height: 100%;
    display: flex;
    color: #0d1b2a;
  }

.sidebar {
    background-color: #f1f1f1;
    border-right: 1px solid #efefef;
    padding: 40px 30px;
    min-width: 250px;
    max-width: 350px;
}

.content {
    /* flex-basis: 0; */
    /* flex-grow: 999;
    flex: 1 0 auto; */
    background-color: #FaFafa;
    padding: 40px 80px;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    text-wrap:wrap;
    width: 100%;
  }

  a {
    font-weight: normal;
    color: #0F4C75;
    text-decoration: underline;
  }

  ul  {
    background-color: transparent;
    border: 0;
    border-radius: 0;
  }

  li {
    background-color: transparent;
    border: 0;
    border-radius: 10px;
    padding: 10px 30px;
  }

  .sidebar li {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  li:hover {
    background-color: #e0e0e0;
  }

  .file-upload {
    max-width: 700px;
  }

  .file-upload div {
    padding: 10px;
  }


  .file-upload .alert {
    margin-top: 10px;
    margin-left: 10px;
  }

  mwl-gauge {
    width: 500px;
    height: 500px;
    display: block;
    padding: 10px;
    padding: 10px;
    margin: 7px;
    border-radius: 3px;
  }

  mwl-gauge > .gauge > .dial {
    stroke: #000000;
    stroke-width: 2;
    fill: rgba(0, 0, 0, 0);
  }
  mwl-gauge > .gauge > .value {
    stroke: rgb(255, 47, 47);
    stroke-width: 2;
    fill: rgba(0, 0, 0, 0);
  }
  mwl-gauge > .gauge > .value-text {
    fill: rgb(47, 227, 255);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1em;
  }

 mwl-gauge > .label {
    display: inline-block;
    background: rgba(0,0,0,0.5);
    font-family: monospace;
    font-size: 0.8em;
    padding: 5px 10px;
  }

  mwl-gauge > .gauge .dial {
    stroke: #334455;
    stroke-width: 2;
    fill: rgba(0,0,0,0);
  }

 mwl-gauge > .gauge .dial {
    stroke: #334455;
    stroke-width: 6;
  }
 mwl-gauge > .gauge .value {
    stroke: orange;
    stroke-dasharray: none;
    stroke-width: 10;
  }
 mwl-gauge > .gauge .value-text {
    fill: #858585;
    font-weight: 100;
    font-size: 1em;
  }

.result {
  display: block;
  text-align: center;
}

  .result-value {
    display: block;
    color:#858585;
    font-size: 45px;
    font-weight: normal;
  }

  .result h1 {
    font-size: 70px;
  }
